<div id="message-box">
  <%= for message <- @messages do %>
    <p><%= message.body %></p>
  <% end %>
</div>

<form id="message-form">
  <textarea id="message"></textarea>
  <button type="submit">Send</button>
</div>
